@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');

* {
    font-family: 'Cinzel', serif;
    font-weight: 800;
}

.container {
    background-image: url(../images/forest.png);
    background-repeat: no-repeat;
    border: 10px solid rgb(197, 216, 23);
    border-radius: 10px;
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 640px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 6px solid rgb(187, 204, 34);
    border-radius: 10px;
    opacity: 0.8;
    background: rgb(188, 193, 176);
    height: 60px;

}

.total-score,
.level,
.score {
    font-weight: 800;
}

.enemy {
    width: 40%;
    height: 40%;
    position: fixed;
    top: 30%;
    left: 30%;
}

.cogratulation-window {
    display: none;
    width: 40%;
    height: 20%;
    border: 10px solid rgb(197, 216, 23);
    opacity: 0.8;
    background: rgb(188, 193, 176);
    position: fixed;
    top: 30%;
    left: 30%;
    text-align: center;
    vertical-align: middle;
}